<% provide(:title, 'Contact')%>
<div class="center hero-unit">
	<h1>Contact</h1>
		<p>
			Any questions, concerns or feedback, feel free to contact us.<br/>
			<address><b>Work Order Machine</b>
	<%= link_to "E-Mail Us", '#', class: "btn btn-large btn-primary" %>
</div>