
<% if signed_in? %>

  <div class="row">
	<aside class="span4">  
	<section>
		<br/>
		<h2>New Workorder</h2>
		<%= render 'shared/workorderpost_form' %>
      </section>
    </aside>
		<%= render 'shared/workorders_display' %>
		<%= render 'shared/workorders_feed'%>
  </div>  
<% else %>
<div class="center hero-unit">
	<h1>Work Order Machine</h1>
		<p>
			This is the homepage for 
			<a href="home">Work Order Machine</a>
		</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %> 