<div class="center hero-unit">
	<h1>Pject.us</h1>
		<p>
			This is the homepage for 
			<a href="home">Pject.us</a>
		</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
