
<div class="row">
	<aside class="span4">  
	<section>
		<br/>
		<%= render 'shared/assets_without_serials'%>
		<%= render 'shared/assets_display'%>
    </section>
  </aside>
		<%= render 'shared/workorders_display' %>
		<%= render 'shared/workorders_feed'%>
</div>