

<div class="workorder_search_wrapper row">
	<h1>Request Parts</h1>
	<div class="workorder_search_content span4">
		<h2>Add Parts</h2>
		<%= render 'form' %>


  			
	</div>
	<div class="span5">
		<h2>Parts Needed (<%= @parts.count %>)</h2>
		<% if @parts.any? %>
	       <%= render @parts %>
	   <% end %>
		<br />
	</div>
</div>

