<table class="table table-bordered table-striped">
  <tr>
    <td><%= render "comments/comments" %></td>
  </tr>
  <tr>
	 <td>
	 	  	<h2>Add Comment</h2>
	 	<%= render "comments/form" %>
	 </td>
  </tr>
</table>