
<%= form_for [@commentable, @comment] do |f| %>

  <div class="field">
    <span class="example"><center>(Limit of 200 characters.)</center></span>
    <%= f.text_area :content, rows: 3 %>
  </div>
  <div class="actions">
    <center><%= f.submit "Submit", class: "btn btn-primary btn-small" %></center>
  </div>

<% end %>
