<tr>
    <td>
        <%= link_to user.name, user %>
    </td>
    <td>
        <%=user.current_branch %>
    </td>

    <% if current_user.admin?  || current_user.super_user? %>
        <td>
	       <%= link_to "edit", edit_user_path(user) %>
        </td>
    <% end %>
</tr>

