<div >
	<%= form_for @workorder, :html => {:id => 'edit_datetime_text'} do |f| %>
	<%= f.label :chronic_wo_date, "Date and Time:"  %>
	<%= f.text_field :chronic_wo_date, :id => 'edit_datetime_field' %>
	<% end %>
</div>