<div class="row" id="lower_header">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
	</aside>


</div>
<div class="row" id="flash_row">
	<% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><a class="close" data-dismiss="alert">×</a><%= value %></div>
      <% end %>
	</div>