<div class="markdown_instructions">
<hr />
<center><h3>INSTRUCTIONS</h3></center>
<br />
<p>Blog posts and articles will render "Markdown" script.</p>
<span style="text-decoration:underline;"><center><h3>Examples</h3></center></span>
<p>
    <table class="table table-bordered table-condensed table-striped">

        <tr>
            <td><h3>Title</h3></td>
            <td>###Title</td>
        </tr>
        <tr>
            <td><em>Emphasis</em></td>
            <td>*emphasis*</td>
        </tr>
        <tr>
            <td><a>Links</a></td>
            <td>[Link Text](http://www.linkaddress.com)</td>
        </tr>
        <tr>
            <td><li>Unordered List</li></td>
            <td>-list_item or +list_item or *list_item</td>
        </tr>
        <tr>
            <td><ol><li>Ordered List</li></ol></td>
            <td>1. List_item<br />2. List_item <br />3. List_item</td>
        </tr>
        <tr>
            <td>Images</td>
            <td>![Alt text](http://www.site.com/path/to/img.jpg)</td>
        </tr>
    </table>
</p>
<p>This is only a partial list of the available tags.  To learn more about Markdown visit <a href="http://daringfireball.net/projects/markdown/syntax">John Gruber's</a> tutorial.</p>
</div>
