
    <h2 class="small-fonts-header">Time Off Requests to Review</h2>
    <table class="table table-bordered table-condensed">
        <th class="small-fonts">
            Employee
        </th>
        <th class="small-fonts">
            Days Off Requested
        </th>
            <% for user in @users %>
                <% if user.day_offs.any? %>
                    <% user.day_offs.each do |day_off| %>
                        <% if day_off.start_date >= Date.today || Date.today <= day_off.end_date %>
                                <% unless day_off.approved? %>
                                   <tr>
                                        <td class="small-fonts">
                                            <%= link_to user.name, edit_day_off_path(day_off) %>
                                        </td>
                                        <td class="small-fonts">
                                          <%= day_off.start_date.strftime("%m/%d/%y") %> - <%= day_off.end_date.strftime("%m/%d/%y") %>
                                          <% if current_user.admin? %>
			                                    <a href=<%=day_off_path(day_off)%>  data-confirm="Are you sure?" data-method="delete" rel="nofollow"> X </a>
                                          <% end %>
                                        </td>
                                   </tr>
                               <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
    </table>



