<div class="span4">
   <% if current_user.workorders.any? %>
     <h3>Workorders(<%= current_user.workorders.count %>)</h3>
     <ol class="workorders">
       <%= render @workorders %>
     </ol>
     <%= will_paginate @workorders %>
   <% end %>
 </div>