<div class="span4"><br/>
   <% if @workorders.any? %>
     <h2>Open Workorders (<%= @workorders.count %>)</h2>
     <ol class="workorders">
       <%= render @workorders %>
     </ol>
     <%= will_paginate @workorders %>
   <% end %>
 </div>