<table class="table table-bordered table-striped">
		  <tr>
		    <th width="50%">Before Photos</th>
		    <th>After Photos</th>
		  </tr>
		  <tr>
		    <td><% @workorder.before_photos.each do |photo| %>
				<%= link_to(image_tag(photo.photo_url(:thumb).to_s, :class=>"dropshadow"), photo.photo_url(:screen) )%>
			<% end %></td>
			  <td><% @workorder.after_photos.each do |photo| %>
				<%= link_to(image_tag(photo.photo_url(:thumb).to_s, :class=>"dropshadow"), photo.photo_url(:screen) )%>
			<% end %></td>
		    </tr>
		</table>