<div><br/>
    <h2>Workorders (<%= @workorders.count %>)</h2>
	<% if @workorders.any? %>
       <%= render @workorders %>
			<%= will_paginate(@workorders, :class => "my_pagination") %>
   <% end %>
	<br />
 </div>
