

<br />
<div class="row">
	<aside class="span3">  
	<section>
		<br/>
		
    </section>
  </aside>
		<aside class="span6">
			<h2>Edit Workorder</h2>
			<%= render 'shared/workorderpost_form' %>
	</aside>
		
</div>