
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
	</aside>
</div>
<div class="row">
	<aside class="span4">  
	<section>
		<br/>
		
    </section>
  </aside>
		<aside class="span4">
			<h2>Edit Workorder</h2>
			<% if current_user.role=="Rebuilder"%>
			<%= render 'shared/workorderpost_form_rebuild'%>
			<% else %>
			<%= render 'shared/workorderpost_form' %>
			<% end %>
	</aside>
		
</div>