    <h2>Open Workorders (<%= @workorders.count %>)</h2>
    <hr />
<div class="cal-date-contents">
    <% if @workorders.any? %>
    <ul class="ul-cal-date">
       <%= render @workorders %>
    </ul>
     <center><%= will_paginate @workorders %></center>
   <% end %>
    <br />
    <h2>Recently Completed</h2>
    <hr />
    <ul class="ul-cal-date">
        <% if @completed_workorders.any? %>
          <%= render @completed_workorders %>
        <% end %>
    </ul>
 </div>
