<div class="row-fluid">
    <table width="100%">
        <tr>
            <td width=200>
                <%= render @document %>
            </td>
            <td valign="top">
                <br />
                <%= render "comments/comments_module" %>
            </td>
    </table>
</div>

