<style>
.comment {
    font-size: 1em;
    color: #696969;
}
.footer {
    font-size: .50em;
    color: #adadad;
    text-align: justify;
}
.tiny {
    font-size: .75em;
    color: #adadad;
}
h1 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom:  20px;
    text-align: center;
}
h2{
    font-size: 1.0em;
    margin-bottom: 10px;
    font-weight: normal;
    color: #adadad;
}
</style>

<center><h1>WORKORDER::MACHINE</h1></center>
<hr />
<h2>Time Off Request</h2>
<p> Your time off request for: 
<%= @time_off.start_date %> to <%= @time_off.end_date %>
has been <%= @yea_or_nay.upcase %>.
</p>
<p> Speak to your manager if you have questions. </p>

<p class="comment"></p>
<p class="tiny"></p>
<hr />
<p class="footer">To turn off email notifications visit your settings and turn email notifications to no.  If you would rather have text message notifications make sure your account has a valid phone number where text messages can be received and set text message notifications to yes.</p>
