<style>
.comment {
    font-size: 1em;
    color: #696969;
}
.footer {
    font-size: .5em;
    color: #adadad;
}
h1 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom:  20px;
    text-align: center;
}
h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #696969;
}
h3 {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #696969;
}
</style>

<center><h1>WORKORDER::MACHINE</h1></center>
<h2>Welcome to the Workorder Machine!</h2>
<hr />
<p class="comments">
The Workorder Machine is a workorder management tool.  It is designed to allow all users in a branch to coordinate their efforts at supplying exceptional customer service in an organized fashion and to make our lives a little bit easier.
</p>
<h2>Login Info</h2>
<p>
    <ul>
    <li>Login Page: <a href="http://www.workordermachine.com/signin">www.workordermachine.com/signin</a></li>
    <li>Username:  <%=@user.email%></li>
    <li>Password:  It's a secret.</li>
    </ul>
    If you forget your password call 925-452-7867 or *21 on your Nextel to get it reset.
</p>
<h2>Open a Workorder</h2>
<p class="comments">
The site is broken down into several areas that serve different purposes.  The main goal is to create workorders and communicate those workorders to the team in as stream-lined a fashion as possible.  We want you to get in, get stuff done and get out as quick as possible.  To create a new workorder go to <a href="http://www.workordermachine.com/">the home screen</a>, log in and on the left side there is a form for creating workorders.</p>
<h2>Calendar</h2>
<p>The calendar is used to track and view upcoming workorders.  From the calendar you can also subscribe to the calendar feeds for both workorders and time off requests.  Once subscribed these feeds will overlay inside of your iPhone, iPad, Outlook 2010, Google or Mac OS X calendar.  Currently there is no support for Outlook 2007.</p>
<h2>Pitch In!</h2>
<p>
Did you know that anyone can upload content to W.O.M. ?  Find something that should be on the site just add it.  Below are the links to add content:
<ul><li><a href="http://www.workordermachine.com/documents/new">Upload Document (PDF)</a></li>
<li><a href="http://www.workordermachine.com/videos/new">Upload Video</a></li>
<li><a href="http://www.workordermachine.com/posts/new">Create Blog Post</a></li></ul>
</p>
<h2>Beta Project</h2>
<p>The Workorder Machine is a work in progress and is improving every day.  If you find there are features you would like to see or bugs to report please report them on the site (bottom of the home screen).  The <a href="http://www.workordermachine.com/posts">blog</a> is a great way to stay abreast of the comings and goings on Workorder Machine and to be informed when new features are released.
</p>
<hr />
<p class="footer">To turn off email notifications visit your settings and turn email notifications to no.  If you would rather have text message notifications make sure your account has a valid phone number where text messages can be received and set text message notifications to yes.</p>
