<%= search_form_for @search do |f| %>
  <div>
    <%= f.text_field :content_cont %>
  </div>
 <div class="actions"> <center><%= f.submit "Search", class: "btn btn-large btn-primary" %></center></div>
<% end %>
