@import "bootstrap";

/* mixins, variables, etc. */

$grayDarkest: #696969;
$grayMedium: #adadad;
$grayLightest: #e3e3e3;
$graySuperLight: #fafafa;


$grayMediumLight: #cccccc;
$grayDark: #333333;
$grayLight: #eaeaea;
$blueDark:  3486D0;

$workorderRed: #9d261d;
$workorderBlue: #049cdb;
$workorderBlack: black;
$workorderGreen: #45a546;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
	height: 100%;
}
.container#window {
	background: white;
	margin-top: -20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid $grayMedium;
	border-right: 1px solid $grayMedium;
}


body {
	padding-top:  60px;
    background: url(/pw_maze_white.png) repeat 0 0;
}

section {
	overflow: auto;
	height: 100%;
}
textarea {
	resize: vertical;
}
.center {
	text-align:  center;
}
.center h1 {
	margin-bottom: 10px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-family: 'Electrolize', sans-serif;
	font-size: 1em;
	letter-spacing: -2px;
	margin-bottom:  30px;
	text-align: center;
}

.small-fonts {
    font-size: 10px;
    font-weight: normal;
    color: $grayDarkest;
}

.small-fonts-header {
    font-size: 14px;
    color: $grayDarkest;
}

.show_workorder {
	font-size: 3em;
}
.show_workorder2 {
	margin-top:-20px;
	margin-bottom: -10px;
}
.sign_in {
	font-size: 2em;
}
h2{
	font-size: 1.7em;
	font-family: 'Electrolize', sans-serif;
	margin-bottom: 10px;
	text-align: center;
	font-weight: normal;
	color: $grayDarkest;
}

#role_type {
	font-family: 'Electrolize', sans-serif;
}

P{
	font-size: 1.1em;
	line-height: 1.7em;
}

/* Header */

#logo {
	float: left;
	font-family: 'Electrolize', sans-serif;
	margin-right: 10px;
	font-size: 1.7em;
	color:  $grayMediumLight;
	letter-spacing:  -1px;
	padding-top:  9px;
	line-height:  1;
}

#logo:hover {
	color:  #fff;
	text-decoration:  none;
}

#lower_header {
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	padding-top: 20px;
	padding-bottom: 11px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid $grayMedium;
	background-color: white;

}
#flash_row {
	margin-left: 10px;
	padding: 10px;
}
/* Footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	padding-bottom: 200px;
	border-top: 1px solid $grayDarkest;
	color: #999;
}

footer a {
	color: #555;
}
footer a:hover {
	color: #222;
}
footer small {
	float: left;
}
footer ul {
	float:  right;
	list-style: none;
}
footer ul li {
	float:  left;
	margin-left:  10px;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

/*
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-left: 5%;
  width: 90%;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
  @include box_sizing;
}

.workorder_form_photos_wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;

  }
}

.updates_feed {
	list-style: none;
	margin: 0;
	li {
		padding: 10px 0;
		margin-bottom: -10px;
		border-top: 1px solid $grayDarkest;
	}

}

/* workorders */

.workorders {
  list-style: none;
  margin: 10px 0 0 0;

}
.workorder_today {
	text-align: right;
	color: $workorderGreen;
	margin-bottom: -30px;

}
.workorder_tomorrow {
	text-align: right;
	color: $workorderBlue;
	margin-bottom: -30px;

}
.workorder_pastdue {
	text-align: right;
	color: $workorderRed;
	margin-bottom: -30px;

}
.tiny {
	font-size: .75em;
}

#workorder_left {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fafafa;
	textarea: #c0c0c0;
}
.signin_page_wrapper {
	h1{font-size: 3em;}

}

.signin_page {
	margin-left: 300px;
	width: 350px;
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid $grayMedium;
	padding: 10px;

}

.lonely_form {
  margin-left: 235px;
  width: 400px;
  background-color: white;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $grayMedium;
  padding: 10px;
}

.customer {
  display: block;
}
.timestamp {
/*  color: $grayLight; */
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#chemicals_fields_blueprint {
	margin-left: 300px;
	background-color: #000;
}
div.fields {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;
	textarea: #c0c0c0;
	height: 100%;
	}
#workorder_assets_attributes_0_chemicals_attributes_new_chemicals_name {
	background-color: #000;
}

.part_wrapper{
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	background-color: white;
}
.part_user {
	font-size: 9px;
	color: $grayDarkest;
	padding-left: 40px;
	text-align: left;
}

.workorder_search_wrapper {
	h1{font-size: 2em;}
	width: 100%;
}
.workorder_search_content {
	width: 300px;
	margin-left: 20px;

}

.workorder_show_wrapper {
	position: relative;
	margin: 5px;
	background-color: white;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px;
}

.workorder_show_content {
	height: 100%;
	margin-left: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
.workorder_show{
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;
	textarea: #c0c0c0;
	height: 100%;
}

.workorder_form {
	position: relative;
	margin: 5px;
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid $grayMedium;
	padding: 10px;
}

.workorder_form_label {
    font-size: 1.1em;
    margin-left: 5%;
}

.work_wrapper {
	position: relative;
	margin: 5px;
	background-color: white;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px;
}

.work_bar_new{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 15px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderGreen;
}

.work_bar_swap{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 15px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderBlack;
}

.work_bar_follow_up{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 15px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderBlue;
}

.work_bar_pull{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 15px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderRed;
}

/* Calendar Workorders Display */
.work_wrapper_small {
	position: relative;
	margin: 2px;
	background-color: white;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	padding: 7px;
}

.work_bar_new_small{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 5px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderGreen;
}

.work_bar_swap_small{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 5px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderBlack;
}

.work_bar_follow_up_small{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 5px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderBlue;
}

.work_bar_pull_small{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 5px;
	height: 100%;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	background-color: $workorderRed;
}

.work_content{
	height: 100%;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#equipment {
	margin-right: 10px;
	font-size: .75em;
	text-align: right;
	margin-bottom: -1px;
	em {
		color: green;
	}
}

.calendar_event_time {
	margin-left: 5px;
	margin-top: -5px;
	font-size: .60em;
}

.calendar_event {
	margin-top: -5px;
	font-size: .60em;
	margin-left: 5px;
}

#articles .calendar {
  border-collapse: collapse;
  width: 100%;
  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 15px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 120px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#articles #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#articles ul {
  font-size: 11px;
  padding-left: 20px;
}

.workorder_feed_time {
	font-size: 9px;
	color: $grayDarkest;
	padding-left: 40px;
	text-align: right;
}

.workorder_feed_item {
	margin-top: -1px;
	font-size: 10px;
	color: $grayDarkest;
}

.gravatar_workorder_feed {
	padding-top: 0px;
	margin-top: 1px;
}

.asset_options {
	margin-left: 20px;
}

.edit_or_delete {
    font-size: 11px;
    text-transform: uppercase;
}

.day_off {
    font-size: 8px;
    text-transform: uppercase;
}

// For Google Maps //

.dropshadow{
	 -moz-box-shadow: 1px 1px 10px $grayMedium;
	 -webkit-box-shadow: 1px 1px 10px $grayMedium;
	 box-shadow: 1px 1px 10px $grayMedium;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
	}

.comment_user {
	font-size: 9px;
	color: $grayDarkest;
	padding-left: 40px;
	padding-right: 10px;
	text-align: right;
}

.secondary_nav{
	margin-left: 30px;
	float: left;
}
