#tag_cloud {
	width: 200px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.tags {
	font-size: 12px;
	font-style: italic;
}
.document_search {
	width: 200px;
}
.tag_cloud_wrapper {
  float: left;
  height: 100%;
}
.documents {
  float: left;
  padding: 10px;
  width: 200px;
}

.email_doc {
  position: relative;
  z-index: 2;
}

