/* mixins, variables, etc. */

$grayDarkest: #696969;
$grayMedium: #adadad;
$grayLightest: #e3e3e3;
$graySuperLight: #fafafa;

$grayMediumLight: #cccccc;
$grayDark: #333333;
$grayLight: #eaeaea;
$blueDark:  3486D0;

$workorderRed: #9d261d;
$workorderRedLight: rgb(254,103,103);
$workorderBlue: #049cdb;
$workorderBlack: black;
$workorderYellow: rgb(251,176,71);
$workorderGreen: #45a546;

$calBlack: rgb(50,50,50);
$calBlackLight: rgb(33,33,33);

//MOBILE CALENDAR STYLING

.cal-container {

	width: 100%;
	//width: 15.625em;
	height: 16.25em;
}

.cal {
	font-family: 'Electrolize', sans-serif;
	width: 100%;
	height: 100%;
	font-size: 81.25%;
	text-align: center;
	//border-radius: 10px 10px 0 0;
	border-spacing: 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.cal a, .cal a:hover{
	font-family: 'Electrolize', sans-serif;
	color: $grayMedium;
	text-decoration: none;
	font-size: 81.25%;
}

.cal-header th:first-child {
	//border-radius: 10px 0 0 0;
}

.cal-header th:last-child {
	//border-radius: 0 10px 0 0;
}

.cal-header th {
	padding: 5% 0;
	height: 20%;
	font-size: 2em;
	border-bottom: 1px solid rgb(20,20,20);
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	background-image: -webkit-linear-gradient($calBlack, $calBlackLight 50%);
	background-image: -moz-linear-gradient($calBlack, $calBlackLight 50%);
	background-image: -o-linear-gradient($calBlack, $calBlackLight 50%);
	background-image: -ms-linear-gradient($calBlack, $calBlackLight 50%);
	background-image: linear-gradient($calBlack, $calBlackLight 50%);
}

.cal td, .cal th {
	font-weight: 400;
	width: 12.5%;
}

.cal td {
	text-shadow: 0 -1px 0 rgba(0,0,0,1.0);
	border-top: 1px solid rgb(20,20,20);
	border-left: 1px solid rgb(20,20,20);
}

.cal-nav {
	display: block;
	position: relative;
	z-index: 2;
	text-align: right;
	color: silver;
	font-weight: 700;
	font-size: 150%;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,1.0);
}

.day {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
}

.prev {
	text-align: left;
	padding-left: 25%;
}

.next {
	padding-right: 25%;
}
.prev:hover, .prev:focus, .next:hover, .next:focus {
	color: $grayLight;
}
.cal-title {
	width: 75%;
	color: rgb(165,165,165);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	font-size: 150%;
}
.cal-day-names {
	background-color: rgb(97,97,97);
	background-image: -webkit-linear-gradient(rgb(97,97,97), rgb(68,68,68));
	background-image: -moz-linear-gradient(rgb(97,97,97), rgb(68,68,68));
	background-image: -o-linear-gradient(rgb(97,97,97), rgb(68,68,68));
	background-image: -ms-linear-gradient(rgb(97,97,97), rgb(68,68,68));
	background-image: linear-gradient(rgb(97,97,97), rgb(68,68,68));
	border-top: 1px solid rgb(119,119,119);
	border-bottom: 1px solid rgb(20,20,20);
	color: rgb(157,157,157);
	font-size: 90%;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
}
.cal-day-names th {
	line-height: 1.5;
}
.day {
	background-image: -webkit-linear-gradient($calBlack, $calBlackLight);
	background-image: -moz-linear-gradient($calBlack, $calBlackLight);
	background-image: -o-linear-gradient($calBlack, $calBlackLight);
	background-image: -ms-linear-gradient($calBlack, $calBlackLight);
	background-image: linear-gradient($calBlack, $calBlackLight);
	color: rgb(133,133,133);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
}
.day:hover, .day:focus {
	background-image: -webkit-linear-gradient(rgb(107,107,107), rgb(87,87,87));
	background-image: -moz-linear-gradient(rgb(107,107,107), rgb(87,87,87));
	background-image: -o-linear-gradient(rgb(107,107,107), rgb(87,87,87));
	background-image: -ms-linear-gradient(rgb(107,107,107), rgb(87,87,87));
	background-image: linear-gradient(rgb(107,107,107), rgb(87,87,87));
	color: rgb(200,200,200);
}
	/* oom = out of month -> dates from previous/next month that are greyed out */
.oom {
	background-image: -webkit-linear-gradient(rgb(37,37,37), rgb(26,26,26));
	background-image: -moz-linear-gradient(rgb(37,37,37), rgb(26,26,26));
	background-image: -o-linear-gradient(rgb(37,37,37), rgb(26,26,26));
	background-image: -ms-linear-gradient(rgb(37,37,37), rgb(26,26,26));
	background-image: linear-gradient(rgb(37,37,37), rgb(26,26,26));
	color: rgb(78,78,78);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset, 1px 0 0 rgba(255,255,255,0.05) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset, 1px 0 0 rgba(255,255,255,0.05) inset;
}

.today {
	color: rgb(133,133,133);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	color: rgb(200,200,200);
	background-image: -webkit-linear-gradient($calBlackLight, $grayDarkest);
	background-image: -moz-linear-gradient($calBlackLight, $grayDarkest);
	background-image: -o-linear-gradient($calBlackLight, $grayDarkest);
	background-image: -ms-linear-gradient($calBlackLight, $grayDarkest);
	background-image: linear-gradient($calBlackLight, $grayDarkest);
	cursor: pointer;
}

	/* Events are highlighted */
.event {
	color: rgb(200,200,200);
	background-image: -webkit-radial-gradient($grayDarkest,$calBlackLight);
	background-image: -moz-radial-gradient($grayDarkest,$calBlackLight);
	background-image: -o-radial-gradient($grayDarkest,$calBlackLight);
	background-image: -ms-radial-gradient($grayDarkest,$calBlackLight);
	background-image: radial-gradient($grayDarkest,$calBlackLight);
	cursor: pointer;
}
.event:hover, .event:focus {
	background-image: -webkit-linear-gradient($workorderGreen, $calBlackLight);
	background-image: -moz-linear-gradient($workorderGreen, $calBlackLight);
	background-image: -o-linear-gradient($workorderGreen, $calBlackLight);
	background-image: -ms-linear-gradient($workorderGreen, $calBlackLight);
	background-image: linear-gradient($workorderGreen, $calBlackLight);
	color: rgb(140,140,140);
}

	/* Calendar visual tweaks */

	/* Remove double borders from perimeter */
	.cal tbody tr td:nth-of-type(1) {
		border-left: none;
	}
	.cal tbody tr td:nth-of-type(7) {
		border-right: none;
	}
	.cal tbody tr:nth-of-type(6) td {
		border-bottom: none;
	}
	/* Remove extra border on left hand table cells */
	.cal tbody tr:nth-of-type(1n+1) td.day:first-child {
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
		box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
	}
	.cal tbody tr:nth-of-type(1n+1) td.oom:first-child {
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset;
		box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset;
	}

	/* Media Queries */

	/* SMARTPHONE LANDSCAPE 480px */
	@media only screen and (min-width: 20em) {
		.cal-container {
			margin-top: -15px;
			margin-left: -5px;
			margin-right: 100px;
			width: 102%;
			height: 18em; /* 288px */
		}
		.cal {
			font-size: 87.5%; /* 14px */
		}
	}
	/* TABLET 768px */
	@media only screen and (min-width: 48em) {
		.cal-container {
			width: 20em; /* 320px */
			height: 21.875em; /* 350px */
		}
		.cal {
			font-size: 100%; /* 16px */
		}
	}
	/* NETBOOK 1024px */
	@media only screen and (min-width: 64em) {
		.cal-container {
			width: 26.5em; /* 424px */
			height: 29em; /* 464px */
		}
		.cal {
			font-size: 112.5%; /* 18px */
		}
	}
	/* DESKTOP 1600px+ */
	@media only screen and (min-width: 100em) {
		.cal-container {
			width: 33.125em; /* 530px */
			height: 35em; /* 560px */
		}
		.cal {
			font-size: 125%; /* 20px */
		}
	}

.cal-date-contents {
	width: 102%;
	margin-left: -30px;
}

.cal-date-contents a{
	text-decoration: none;
	color: $grayDark;
}

.ul-cal-date {
	list-style: none;
	width: 100%;
}

.li-cal-date {
	padding: 2% 0;
	height: 20%;
	text-align: center;
	font-family: 'Electrolize', sans-serif;
	font-size: 1.25em;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	background-image: -webkit-linear-gradient($grayLight, $grayMedium 50%);
	background-image: -moz-linear-gradient($grayLight, $grayMedium 50%);
	background-image: -o-linear-gradient($grayLight, $grayMedium 50%);
	background-image: -ms-linear-gradient($grayLight, $grayMedium 50%);
	background-image: linear-gradient($grayLight, $grayMedium 50%);
}

.li-cal-dayoff {
	font-family: 'Electrolize', sans-serif;
	padding: 2px;
	margin-left: 13px;
	font-size: 1em;
	font-weight: 600;
}
.li-workorder-wrapper {
	width: 100%;
}

.li-cal-status-wrapper {
	position: relative;
	margin-top: -30px;
}
.li-cal-badge {
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	line-height: .95em;
	text-align: center;
	font-family: 'Stardos Stencil', cursive;
	font-weight: 700;
	font-size: 1.75em;
	color: white;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;

	position: absolute;
	top: 30px;
	right: 25px;
	-moz-box-shadow:    0px 1px 1px -1px black;
  	-webkit-box-shadow: 0px 1px 1px -1px black;
  	box-shadow:         0px 1px 1px -1px black;
}

.pastdue {
	background-image: -webkit-linear-gradient(red, $workorderRed);
	background-image: -moz-linear-gradient(red, $workorderRed);
	background-image: -o-linear-gradient(red, $workorderRed);
	background-image: -ms-linear-gradient(red, $workorderRed);
	background-image: linear-gradient(red, $workorderRed);

}

.yellow {

	background-image: -webkit-linear-gradient(yellow, $workorderYellow);
	background-image: -moz-linear-gradient(yellow, $workorderYellow);
	background-image: -o-linear-gradient(yellow, $workorderYellow);
	background-image: -ms-linear-gradient(yellow, $workorderYellow);
	background-image: linear-gradient(yellow, $workorderYellow);
}

.li-wo-type {
	position: relative;
	border-radius: 1px;
	margin-top: -1em;
	margin-bottom: -8em;
	left: -.75em;
	top: .75em;
	height: 9em;
	width: .35em;
}

.new-install {
background: -moz-linear-gradient(top,  rgba(69,165,70,1) 0%, rgba(40,204,22,0.16) 84%, rgba(40,204,22,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,165,70,1)), color-stop(84%,rgba(40,204,22,0.16)), color-stop(100%,rgba(40,204,22,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,165,70,1) 0%,rgba(40,204,22,0.16) 84%,rgba(40,204,22,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,165,70,1) 0%,rgba(40,204,22,0.16) 84%,rgba(40,204,22,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,165,70,1) 0%,rgba(40,204,22,0.16) 84%,rgba(40,204,22,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,165,70,1) 0%,rgba(40,204,22,0.16) 84%,rgba(40,204,22,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45a546', endColorstr='#0028cc16',GradientType=0 ); /* IE6-9 */
}

.pull {
background: -moz-linear-gradient(top,  rgba(157,38,29,1) 0%, rgba(254,103,103,0.16) 84%, rgba(254,103,103,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,38,29,1)), color-stop(84%,rgba(254,103,103,0.16)), color-stop(100%,rgba(254,103,103,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(157,38,29,1) 0%,rgba(254,103,103,0.16) 84%,rgba(254,103,103,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(157,38,29,1) 0%,rgba(254,103,103,0.16) 84%,rgba(254,103,103,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(157,38,29,1) 0%,rgba(254,103,103,0.16) 84%,rgba(254,103,103,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(157,38,29,1) 0%,rgba(254,103,103,0.16) 84%,rgba(254,103,103,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d261d', endColorstr='#00fe6767',GradientType=0 ); /* IE6-9 */
}

.swap {
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.16) 84%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(84%,rgba(0,0,0,0.16)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.16) 84%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.16) 84%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.16) 84%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.16) 84%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.follow-up {
background: -moz-linear-gradient(top,  rgba(4,156,219,1) 0%, rgba(88,180,216,0.16) 84%, rgba(88,180,216,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,156,219,1)), color-stop(84%,rgba(88,180,216,0.16)), color-stop(100%,rgba(88,180,216,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,156,219,1) 0%,rgba(88,180,216,0.16) 84%,rgba(88,180,216,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,156,219,1) 0%,rgba(88,180,216,0.16) 84%,rgba(88,180,216,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,156,219,1) 0%,rgba(88,180,216,0.16) 84%,rgba(88,180,216,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,156,219,1) 0%,rgba(88,180,216,0.16) 84%,rgba(88,180,216,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049cdb', endColorstr='#0058b4d8',GradientType=0 ); /* IE6-9 */
}

.li-workorder-date {
	position: relative;
	width: 100%;
}

.li-workorder-address-wrapper {
	position: relative;
	margin-left: 85px;
	margin-top: -53px;
	border-radius: 2px;
	width: 65%;
	border: thin $grayMedium 1px;
}

.li-workorder-address {
	margin-left: 5px;
}

.li-workorder-label {
	position: absolute;
	top: 20px;
	left: -20px;
	height: 20px;
	width: 40px;
	background-color: $grayMedium;
	font-weight: 700;
	text-align: center;
	color: $grayLightest;

	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


.date-wrapper {
	position: relative;
	margin-left: 25px;
	height: 56px;
	width: 50px;
	border-radius: 2px;
	border: solid $grayMedium 1px;
}

.month-wrapper {
	width: 100%;
	height: 15px;
	font-size: 1em;
	text-align: center;
	vertical-align: top;
	color: white;
	margin-top: 0px;
	background-color: $grayMedium;
	padding-bottom: 2px;

}

.day-wrapper {
	margin-top: 0px;
	padding-top:4px;
	width: 100%;
	height: 20px;
	font-size: 2em;
	background-color: white;
	color: $grayDark;
	text-align: center;
	border-bottom: solid black 1px;
}

.time-wrapper {
	margin-top: -3px;
	padding-bottom: 2px;
	height: 15px;
	width: 100%;
	font-size: .75em;
	text-align: center;
	background-color: white;
	font-family: 'Electrolize', sans-serif;
	color: $grayDark;

}

.li-cal-today {
	position: relative;
	font-family: 'Stardos Stencil', cursive;
	font-weight: 700;
	color: $workorderGreen;
	bottom: -110px;
	font-size: 4em;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=30);
	opacity: .3;
	margin-left: 60px;
}

.li-cal-workorder {
	font-family: 'Electrolize', sans-serif;
	text-shadow: 0px 1px 2px #ccc;
	padding: 5px;
	padding-bottom: 10px;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 1.5em;
	font-weight: 600;
}

.li-cal-workorder a, .li-cal-workorder a:hover{
	text-decoration: none;
}

.li-new-install-workorder {
	height: 10px;
	width: 100%;
	background-image: -webkit-linear-gradient($workorderGreen, green 50%);
	background-image: -moz-linear-gradient($workorderGreen, green 50%);
	background-image: -o-linear-gradient($workorderGreen, green 50%);
	background-image: -ms-linear-gradient($workorderGreen, green 50%);
	background-image: linear-gradient($workorderGreen, green 50%);
}

.li-new-install-workorder-bottom {
	margin-top: 10px;
	height: 10px;
	width: 100%;
	background-image: -webkit-linear-gradient($workorderGreen, green 50%);
	background-image: -moz-linear-gradient($workorderGreen, green 50%);
	background-image: -o-linear-gradient($workorderGreen, green 50%);
	background-image: -ms-linear-gradient($workorderGreen, green 50%);
	background-image: linear-gradient($workorderGreen, green 50%);
}

.li-cal-workorder-2 {
	margin-left: 40px;
	margin-top: -2px;
	font-style: italic;

}
.li-cal-workorder-3 {
	margin-left: 25px;
	margin-top: -2px;
	margin-right: 40px;
	font-style: italic;

}

.li-cal-workorder-small {
	margin-left: 27px;
	margin-top: 10px;
	font-size: .75em;
}

.li-cal-workorder-buttons {
	margin-left: 25px;
	margin-top: 20px;
}

.small-red-circle {
	border-radius: 50%;
	width: 5px;
	height: 5px;
	margin-left: 2px;
	background-color: $workorderRed;
	position: absolute;
	float: left;
}
.small-green-circle {
	border-radius: 50%;
	width: 5px;
	height: 5px;
	margin-left: 2px;
	background-image: -webkit-radial-gradient($workorderGreen, $calBlackLight);
	background-image: -moz-radial-gradient($workorderGreen, $calBlackLight);
	background-image: -o-radial-gradient($workorderGreen, $calBlackLight);
	background-image: -ms-radial-gradient($workorderGreen, $calBlackLight);
	background-image: radial-gradient($workorderGreen, $calBlackLight);
	position: absolute;
	margin-top: -20px;
	float: left;
}

.small-blue-circle {
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background-image: -webkit-radial-gradient($workorderBlue,$calBlackLight);
	background-image: -moz-radial-gradient($workorderBlue,$calBlackLight);
	background-image: -o-radial-gradient($workorderBlue,$calBlackLight);
	background-image: -ms-radial-gradient($workorderBlue,$calBlackLight);
	background-image: radial-gradient($workorderBlue,$calBlackLight);
	position: absolute;
	margin-left: 2px;
	margin-top: -1px;
	float: left;
}

//End of Mobile Calendar

.mobile_documents_wrapper {
	text-align: center;
}

.mobile_documents {
	text-align: center;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid $grayMedium;
	background-color: white;
}

.mobile_body {
	width: 102%;
}

.mobile_header {
	margin-top: -60px;
	height: 60px;
	background-color: $calBlackLight;
	// background-image: -webkit-linear-gradient($calBlack, $calBlackLight);
	// background-image: -moz-linear-gradient($calBlack, $calBlackLight);
	// background-image: -o-linear-gradient($calBlack, $calBlackLight);
	// background-image: -ms-linear-gradient($calBlack, $calBlackLight);
	// background-image: linear-gradient($calBlack, $calBlackLight);
}
.mobile_button_wrapper {
	text-align: center;
}

.mobile_button_block {
	position: relative;
	font-size: .5em;
	padding: 50px;
	display: inline-block;
	width: 50px;
	height: 50px;
}

.mobile_workorder_today {
	text-align: right;
	color: $workorderGreen;
	margin-bottom: -60px;

}
.mobile_workorder_tomorrow {
	text-align: right;
	color: $workorderBlue;
	margin-bottom: -60px;

}
.mobile_workorder_pastdue {
	text-align: right;
	color: $workorderRed;
	margin-bottom: -60px;
	margin-right: 20px;

}

.margin-5 {
	margin-left: 5%;
}

.mobile_container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.mobile_footer {

}

#mobile_logo {
	font-family: 'Electrolize', sans-serif;
	font-size: 1.5em;
	color:  $grayMediumLight;
	letter-spacing:  -1px;
	padding-top:  3px;
	line-height:  1;
}

.mobile_content_wrapper {
  margin-top: -20px;
  width: 100%;
  background: url(/pw_maze_white.png) repeat 0 0;
  padding-bottom: 60px;
  padding-top: 12px;

}

.mobile_workorder_form {
	width: 92%;
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid $grayMedium;
	padding: 10px;
	margin: auto;
}

.mobile_footer{
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-family: 'Electrolize', sans-serif;
	color:  $grayMediumLight;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
	font-size: .85em;
	border-bottom: 1px solid rgb(20,20,20);
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	background-color: $calBlackLight;
	// background-image: -webkit-linear-gradient($calBlack, $calBlackLight 50%);
	// background-image: -moz-linear-gradient($calBlack, $calBlackLight 50%);
	// background-image: -o-linear-gradient($calBlack, $calBlackLight 50%);
	// background-image: -ms-linear-gradient($calBlack, $calBlackLight 50%);
	// background-image: linear-gradient($calBlack, $calBlackLight 50%);
}

.mobile_footer table {
	width: 100%;
}

.mobile_footer td, .mobile_footer th {
	font-weight: 200;
	width: 20%;
	height: 40px;
}

.mobile_footer_cell {
	background-color: $calBlackLight;
	// background-image: -webkit-linear-gradient($calBlack, $calBlackLight);
	// background-image: -moz-linear-gradient($calBlack, $calBlackLight);
	// background-image: -o-linear-gradient($calBlack, $calBlackLight);
	// background-image: -ms-linear-gradient($calBlack, $calBlackLight);
	// background-image: linear-gradient($calBlack, $calBlackLight);
	color: rgb(133,133,133);
	line-height: 1em;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
}

.mobile_footer_cell a, .mobile_footer_cell a:hover{
	text-decoration: none;
	text-align: center;
	color:  $grayMedium;
}


.mobile_footer_cell_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.mobile_footer_cell_text {
	margin-top: 30px;
	height: 100%;
}

.red-badge {
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 50%;
	min-width: 14px;
	height: 14px;
	line-height: 1.5em;
	padding: 2px;
	color: white;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
	background-image: -webkit-linear-gradient(red, $workorderRed);
	background-image: -moz-linear-gradient(red, $workorderRed);
	background-image: -o-linear-gradient(red, $workorderRed);
	background-image: -ms-linear-gradient(red, $workorderRed);
	background-image: linear-gradient(red, $workorderRed);
	position: absolute;
	top: -25px;
	left: 5px;
	-moz-box-shadow:    0px 2px 1px -1px black;
  	-webkit-box-shadow: 0px 2px 1px -1px black;
  	box-shadow:         0px 2px 1px -1px black;
}

.mobile_home_button {
	margin: auto;
	height: 125px;
	width: 125px;
	text-align: center;
	color:  $grayMediumLight;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
	font-size: .85em;
	border: 1px solid $grayMedium;

	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	background-image: -webkit-linear-gradient($grayLightest, $grayMedium 50%);
	background-image: -moz-linear-gradient($grayLightest, $grayMedium 50%);
	background-image: -o-linear-gradient($grayLightest, $grayMedium 50%);
	background-image: -ms-linear-gradient($grayLightest, $grayMedium 50%);
	background-image: linear-gradient($grayLightest, $grayMedium 50%);

	border-radius: 10px;
	float: left;

}

.temp {


}

.mobile_user_wrapper {
	width: 100%;
	height: 100%;
	margin-left: -5px;
	margin-top: -12px;
	margin-right: 5px;
	padding-right: -10px;
}

.mobile_user_info {
	margin-left: 20px;
	padding-top: 20px;
	margin-bottom: -20px;
}

.mobile_user {
	width: 300px;
	padding-top: 10px;
	margin-left: -10px;
	margin-bottom: 60px;
	text-shadow: 1px 1px 1px #ccc;
}

#open_workorder {
	margin-top: -10px;
	padding-left: 15px;
}

.mobile_menu {
	padding-left: 35px;
}

.mobile_menu_right{
	float: right;
	margin-right: 15px;
	margin-top: 3px;
}

#mobile_dropdown {
	position: relative;
	float: left;
	width: 100%;
	//height: 64px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 -1px 0 rgba(255,255,255,0.15) inset;
	background-color: $calBlackLight;
	margin-bottom: 40px;
	margin-top: -2px;
}
#mobile_menu_scrollable {
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 100;
}

.mobile_home_page {
	background-color: $grayDarkest;
	width: 80%;
	height: 300px;
	margin: 0 auto;
	padding: 10px;
	color: white;
	font-size: 1.25em;
	font-weight: 400;
}

.mobile_icons_wrapper {
	float: left;
	padding: 5px;
}

.mobile_icons_top {
	text-align: center;
}
.mobile_icons_bottom {
	text-align: center;
	margin-top: -10px;
	color: white;
}

.mobile_icons_bottom a, a:hover{
	color: white;
	text-decoration: none;
	font-size: .75em;
}

.mobile_icons_bottom a:hover{
	color: white;
	text-decoration: none;
	font-size: .75em;
}

// #mobile_dropdown ul {
// 	height: 100%;
// 	list-style:none;
// 	text-align: center;
// 	margin-left: -15px;
// }

// #mobile_dropdown ul li {
// 	display: inline;
// 	vertical-align: center;
// }

.mobile_dropdown_bottom {
	float: left;
	width: 100%;
	background-color: $calBlack;
	border-bottom: 1px solid $grayDarkest;
	margin-top: -9px;
}

.mobile_dropdown_bottom_wrapper {
	position: relative;
	float: left;

}

.mobile_link {
	position: relative;
	float: left;
	margin-left: 10px;
	font-size: 1.7em;
	color:  $grayMediumLight;
	letter-spacing:  -1px;
	padding-top:  10px;
	line-height:  1;
	text-decoration: none;


}
.mobile_link a{
	color:  $grayMedium;
}

.mobile_link a:hover {
	color:  $grayMediumLight;
	text-decoration: none;
}

.icon_in_button {
	position: absolute;
	bottom: 3px;
	left: 22px;
}

.words_in_button {
	position: absolute;
	width: 100%;
	font-weight: 700;
	text-align: center;
	top: 5px;
	left: 0px;
	font-size: 10px;

}

#mobile_logo, #mobile_logo a {
	float: left;
	font-family: 'Electrolize', sans-serif;
	margin-left: 15px;
	font-size: 1.7em;
	color:  $grayMediumLight;
	letter-spacing:  -1px;
	padding-top:  9px;
	line-height:  1;
	text-decoration: none;
}

#mobile_logo:hover {
	color: white;
}

.workorder_show_wrapper_mobile {
	position: relative;
	margin: 5px;
	background-color: white;

}
