/* mixins, variables, etc. */

$grayDarkest: #696969;
$grayMedium: #adadad;
$grayLightest: #e3e3e3;
$graySuperLight: #fafafa;

$grayMediumLight: #cccccc;
$grayDark: #333333;
$grayLight: #eaeaea;
$blueDark:  3486D0;

$workorderRed: #9d261d;
$workorderBlue: #049cdb;
$workorderBlack: black;
$workorderGreen: #45a546;

.mobile_documents_wrapper {
	text-align: center;
}

.mobile_documents {
	text-align: center;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid $grayMedium;
	background-color: white;
}

.mobile_calendar {
	list-style: none;
	font-size: 1em;
}

.mobile_calendar_date a {
	font-size: 1.25em;
	color: $grayDarkest;
	text-decoration: none;
}

.mobile_calendar_date {

}

.mobile_calendar_text {
	font-size: .9em;
}

.mobile_day {
	border-top: 1px solid $grayDarkest;
	margin-left: -25px;
	padding: 6px;
	text-decoration: none;
	font-size: 1em;
	color: $grayDarkest;
}

.mobile_today, .mobile_today a {
	font-size: 1.25em;
	color: black;
	text-decoration: none;
}

.mobile_before_today, .mobile_before_today a {
	font-size: 1em;
	color: $grayMedium;
	text-decoration: none;
}

.mobile_after_today, .mobile_after_today a {
	font-size: 1em;
	color: $grayDarkest;
	text-decoration: none;
}

.mobile_body {

}

.mobile_button_block {
	display: block;
	width: 90%;
	margin-bottom: 5px;
}

.mobile_container {
	width: 100%;
	height: 100%;
}

#mobile_logo {
	font-family: 'Electrolize', sans-serif;
	font-size: 1.5em;
	color:  $grayMediumLight;
	letter-spacing:  -1px;
	padding-top:  3px;
	line-height:  1;
}

.mobile_content_wrapper {
  margin: 0px;
  margin-top: -20px;
  width: 100%;
  background-color: $grayLightest;
  background: url(/pw_maze_white.png) repeat 0 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 60px;
  padding-top: 12px;
}

.mobile_workorder_form {
	width: 92%;
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid $grayMedium;
	padding: 10px;
	margin: auto;
}

.mobile_footer {
	font-weight: normal;
	color: $grayMedium;
}

.mobile_user_wrapper {
	width: 100%;
	height: 100%;
	margin-left: -5px;
	margin-top: -12px;
	margin-right: 5px;
	padding-right: -10px;
}

.mobile_user_info {
	margin-left: 20px;
	padding-top: 20px;
	margin-bottom: -20px;
	opacity: 1;

}

.mobile_user {
	width: 300px;
	padding-top: 10px;
	margin-left: -10px;
	margin-bottom: 60px;
	text-shadow: 1px 1px 1px #ccc;
}

#open_workorder {
	margin-top: -10px;
	padding-left: 15px;
}

.mobile_menu {
	padding-left: 35px;
}

#mobile_logo, #mobile_logo a {
	float: left;
	font-family: 'Electrolize', sans-serif;
	margin-left: 15px;
	font-size: 1.7em;
	color:  $grayMediumLight;
	letter-spacing:  -1px;
	padding-top:  9px;
	line-height:  1;
	text-decoration: none;
}

#mobile_logo:hover {
	color: white;
}

.workorder_show_wrapper_mobile {
	position: relative;
	margin: 5px;
	background-color: white;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	padding: 1px;
}

.calendar_mobile {
	margin-top: 10px;
	padding: 50px;
}
