// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myCarousel {
    width: 500px;
    height: 300px;
}
#carousel_wrapper {
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
