@import "custom";

.left_section {
    float: left;
    text-align: left;
    font-size: 20px;
    font-family: 'Electrolize', sans-serif;
    padding: 10px;
    font-weight: normal;
    color: $grayDarkest;
    width: 270px;
}

.left_section select {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
    width: 100px;
}

#new_task label{
    font-size: 15px;
}
.tasks {
    padding-bottom: 80px;
}

.task_completed {
    color: $grayMedium;
}

.task_incomplete {
    color: $grayDarkest;
}

#completed_tasks {
    color: yellow;
}

.task_wrapper {
    position: relative;
    width: 270px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.task_checkbox {
    float: left;
    padding-top: 5px;
    width: 30px;
}

.task_gravatar {
    float: left;
    margin-top: -15px;
    margin-left: 30px;
    width: 240px;
    font-size: 12px;
}
.task_content {
    float: left;
    font-size: 15px;
    width: 240px;
}

.task_context {
    float: left;
    margin-left: 30px;
}

.task_details_show {
    float: left;
    text-align: right;
    margin-left: 30px;
    width: 240px;
    font-size: 10px;
    color: $workorderRed;
    margin-bottom: 20px;
    margin-top: -10px;
    padding: 10px;
}

.task_float_right {
    float: right;
}
.task_float_left {
    margin-left: -10px;
    float: left;
}

.task_details {
    float: left;
    text-transform: uppercase;
    color: $grayMedium;
    margin-top: -20px;
    margin-left: -10px;
    padding: 10px;
    font-size: 10px;
    border-top: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight;
}

.task_notes {
    float: left;
    margin-left: 30px;
    text-transform: none;
    width: 240px;
    font-size: 15px;
    color: $workorderGreen;
}

.task_branch {
    float: left;
    margin-left: 30px;
    width: 240px;
    font-size: 10px;


}
.task_assigned_to {
    float: left;
    margin-left: 30px;
    width: 240px;
    font-size: 10px;


}

.task_created_by {
    float: left;
    margin-left: 30px;
    width: 240px;
    font-size: 10px;
}

.task_due_date {
    float: left;
    margin-left: 30px;
    width: 240px;
    font-size: 10px;
}

.task_delete {
    float: left;
    text-align: center;
    width: 270px;
    font-size: 10px;
}
