@import "custom";

.checkbox_group_wrapper {
    width: 100%;
    margin-bottom: 10px;
}


.checkbox_wrapper {
    width: 100%;
    margin-left: 15px;
}

.workorder_form_checkbox {

}

.workorder_form_checkbox_label {
    display: inline;
}
